#canvas {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: url('../Assets/background.png');
}

#beetlemorph {
    display: none;
}